@font-face {
    font-family: ninoWebFont;
    src: url(./../font/GothamBlackRegar.ttf);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: ninoWebFont;
}
body{
    --inv: red;

}
.container {
    width: 100%;
    max-width: 1280px;
    min-width: 360px;
    margin: 0 auto;
}
.navItem:hover {
    text-decoration: none;
    color: #FF2D20;
    transition: .2s;
}
#indexParent {
    padding-top: 5px;
    margin-bottom: 0;
}

#navBar{
    width: 98%;
    height: 40px;
}

.navBarLeftBox{
    border: 1px solid #ff2c1f;
    border-radius: 5px;
    width: 1200px;
    margin: 0 10px;
    height: 40px;
    /* padding-left: 60px; */
}
.navItem {
    color: #5C5C5C;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    width: 100%;
    height: 0;
    border-bottom: 3px solid transparent;
    display: flex;
    align-items: center;
}

.navItem.active{
    border-bottom: 3px solid #FF2D20;
    height: 40px !important;
}
.navBarLunchBtn{
    border: none;
    border-radius: 5px;
    background: #ff2c1f;
    color: #fff;
    width: 200px;
    height: 40px;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    min-width: 200px;
    text-decoration: none;
}
.navBarLunchBtn:hover {
    color: #FFF;
    text-decoration: none !important;
}

/* ~~~~~~~ INIT. BTN ~~~~~~~ */

.btn {		
	position: relative;	
	/* padding: 1.4rem 4.2rem; */
	/* padding-right: 3.1rem; */
	/* font-size: 1.4rem; */
	color: var(--inv);
	/* letter-spacing: 1.1rem; */
	/* text-transform: uppercase; */
	transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}

.btn:before, .btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn:hover {
	color: var(--def);
	transition-delay: .5s;
    color: #fff;
}

.btn:hover:before {
	transition-delay: 0s;
}

.btn:hover:after {
	background: var(--inv);
	transition-delay: .35s;
}

/* From Top */

.from-top:before, 
.from-top:after {
	left: 0;
	height: 0;
	width: 100%;
}

.from-top:before {
	bottom: 0;	
	border: 1px solid var(--inv);
	border-top: 0;
	border-bottom: 0;
}

.from-top:after {
	top: 0;
	height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
	height: 100%;
}

/* From Left */

.from-left:before, 
.from-left:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-left:before {
	right: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;	
}

.from-left:after {
	left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
	width: 100%;
}

/* From Right */

.from-right:before, 
.from-right:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-right:before {
	left: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;	
}

.from-right:after {
	right: 0;
}

.from-right:hover:before,
.from-right:hover:after {
	width: 100%;
}

/* From center */

.from-center:before {
	top: 0;
	left: 50%;
	height: 100%;
	width: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;
}

.from-center:after {
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	background: var(--inv);
}

.from-center:hover:before {
	left: 0;
	width: 100%;
}

.from-center:hover:after {
	top: 0;
	height: 100%;
}

/* From Bottom */

.from-bottom:before, 
.from-bottom:after {
	left: 0;
	height: 0;
	width: 100%;
}

.from-bottom:before {
	top: 0;	
	border: 1px solid var(--inv);
	border-top: 0;
	border-bottom: 0;
}

.from-bottom:after {
	bottom: 0;
	height: 0;
}

.from-bottom:hover:before,
.from-bottom:hover:after {
	height: 100%;
}


#section1{
    width: 90%;
    margin: 100px 0 0px 0;
}
#section1 h1{
    font-size: 70px !important;
    font-weight: bolder;
    color: #5C5C5C;
}
#section1 h3 {
    font-size: 30px !important;
    font-weight: bold;
    color: #5C5C5C;
}

#section1 p {
    font-size: 20px !important;
    font-weight: bold;
    color: #939393;
}
#section2{
    background: #FFD1D1;
    height: 280px;
    min-height: 250px;
    width: 100%;
    border-top: 1px solid #000000;
}
#section2 .box {
    width: 100%;
    margin: 0 auto;
}

#section2 .item.bg1{
    background-image: url('./../images/NindoWeb.jpg');

}
#section2 .item.bg2{
    background-image: url('./../images/NindoWeb.jpg');

}
#section2 .item.bg3{
    background-image: url('./../images/NindoWeb.jpg');

}

#section2 .item {
    width: 31%;
    height: 190px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

#section2 .item:hover {
    transform: scale(1.02);
}
#section2 .item.active {
    /* width: 31%; */
    transform: scale(1.02);
    transform: translate(0,55px);
    height:280px
}

#IndexSkilInfo {
    transition: 1.2s;
    /* height: 200px;
    overflow: scroll; */
}
.container-costum-section2{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
#section3 {
    width: 100%;
    margin-top: 85px;

}
#section3 p {
    color: #5C5C5C;
    font-weight: bold;
    font-size: 15px;
    line-height: 2;
}
#IndexBlogSection3{
    width: 100%;
    border-top: 2px solid #000000;
    height: 70px;
    margin-top: 40px;
}
#IndexBlogSection3 span {
    font-size: 12px;
    font-weight: bold;
    color: #5C5C5C;    
    margin: 10px 0px 40px 0;
}
#IndexBlogSection3 img {
    width: 20px;
    height: 20px;
}
#section4{
    width: 100%;
}
#section4 .logo {
    width: 20%;
    height: fit-content;
    cursor: pointer;
}

#section5 {
    width: 100%;
    border: none;
    margin: 70px 0;
}
#section5 .card {
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;

}
#section5 .card .card-1{
    width: 30%;
    height: 300px;
    background: #222222;
    border-radius: 5px;
    color: #fff;
    transition: 0.2s;
    cursor: pointer;
}

#section5 .card .card-2{
    width: 30%;
    height: 300px;
    background: #222222;
    border-radius: 5px;
    border: transparent;
    color: #fff;
    transition: 0.2s;
    cursor: pointer;
}
#section5 .card .card-3{
    width: 30%;
    height: 300px;
    background: #222222;
    border-radius: 5px;
    color: #fff;
    transition: 0.2s;
    cursor: pointer;
}

#section5 .card .card-1:hover {
    transform: scale(1.05);
    translate: 10px;
}
#section5 .card .card-2:hover {
    transform: scale(1.05);
    translate: 10px;
}
#section5 .card .card-3:hover {
    transform: scale(1.05);
    translate: 10px;
}
#section6{
    width: 100%;
}
#section6 .item-bg {
    background: #222222;
    width: 100%;
    height: 300px;
    color: #fff;
    padding: 35px 0;


}
#section6 .item-bg .item1{
    width: 100%;
    min-width: 600px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
}
#section6 .item-bg .item2{
    position: relative;
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #FF2D20;
}
#section6 .item-bg .item2 span{
    position: relative;
    z-index: 2;
}
#section6 .item-bg .item2 .ball-bg{
    position: absolute;
    width: 50px;
    height: 50px;
    /* bottom: -2px; */
    margin-left: -18px;
    border-radius: 360px;
    background: #FF2D20;
    
}
#section6 .item-bg .item2 div{
    width: 25%;    
}
#section6 .item-bg .item2 div:last-child{
    width: 25%; 
    max-width: 250px;   
}
#section6 .btn {
    border: none;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    background: #ff2c1f;
    color: #fff;
    width: 90%;
    height: 40px;
    text-align: left;
    font-weight: bold;
}
#section7{
    width:  100%;
    margin: 80px auto 0px auto;
}
#section7 h1{
    font-size: 70px !important;
    font-weight: bolder;
    color: #5C5C5C;
}
#section7 h3 {
    font-size: 30px !important;
    font-weight: bold;
    color: #5C5C5C;
}

#section7 .BlogTitle p {
    font-size: 20px !important;
    font-weight: bold;
    color: #939393;
}


#section7 .BlogItem{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#section7 .BlogItem .posts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 32%;
    height: auto;
    margin: 40px 0;
}
#section7 .BlogItem .posts .img {
    max-width: 300px;
    min-height: 210px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#section7 .BlogItem .posts h4{
    font-size: 19px;
    color: #5C5C5C;
    margin: 25px 0 15px 0;
}
#section7 .BlogItem .posts p {
    color: #5C5C5C;
    font-size: 13px;
    margin: 15px 0 20px 0;
    line-height: 2;

}
#section7 .BlogItem .posts a {
    color: #FF2D20;
    border: 1px solid #FF2D20;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    text-decoration: none;
    cursor: pointer;
}
#section7 .BlogItem .posts a:hover {
    color: #fff;
    background: #FF2D20 !important;
}
.footer-bg {
    background: #FF2D20;
    width: 100%;
    height: 300px;
    color: #fff;
} 
.foterLunch {
    background: #fff;
    border: none;
    border-radius: 5px;
    width: 300px;
    
}
.foterLunch a{
    color: #FF2D20;
    font-size: 22px;
    font-weight: bold;
}
#section2Blog {
    width: 100%;
    margin: 0px 0px;
}
#section2Blog .blog1 {
    height: 100%;
    width: 26%;
    margin: 40px 0;
}
#section2Blog .blog1 img{
    max-width: 360px;
    max-height: 360px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
#section2Blog .blog1 .item1 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-start;
}

#section2Blog .blog1 .item2 {
    width: 100%;
    height: 100%;
    color: #5C5C5C;
}
#section2Blog .blog1 .item2 div {
    margin: 15px 0;
}

#section2Blog .blog1 .item2 a{
    color: #fff;
    border: 1px solid #FF2D20;
    color: #FF2D20;
    text-decoration: none;
    border-radius: 3px;
    padding: 7px 25px;
    font-size: 14px;
    font-weight: bold;
}
#section2Blog .blog1 .item2 .lastChild {
    border-top: 1px solid #000000;
}

#LunchSection-1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 70px 0 50px 0;
}
#LunchSection-1 legend{
    position: absolute;
    top: -12px;
    left: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #939393;
    background: #fff;
    width: fit-content;
    height: fit-content;
    margin-bottom: 0;
}
#LunchSection-1 fieldset {
    width: 480px;
}
#LunchSection-1 input {
    width: 450px;
    height: 40px;
    padding: 0 10px;
    transition: 0.2s;
    border-radius: 5px;
    border: 1px solid #FFD1D1;

}
#LunchSection-1 input:focus-visible {
   outline: none;
   border: 1px solid #FFD1D1;
   transition: 0.2s;
}
#LunchSection-1 button{
    background: #FF2D20;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-right: 30px;
}
#LunchSection-1 button:focus-visible{
    outline: none;
}
#LunchSection-1 .textAria {
    position: relative;
}
#LunchSection-1 .textAria p {
    position: absolute;
    left: 20px;
    top: 29px;
    font-size: 14px;
    font-weight: bold;
    color: #939393;
    background: #fff;
    width: fit-content;
    height: fit-content;
    margin-bottom: 0;
}
#LunchSection-1 textarea {
    width: 100%;
    margin: 40px 30px 30px 0px;
    border-radius: 5px;
    height: 200px;
    padding: 10px;
    transition: 0.2s;
    border: 1px solid #FFD1D1;

}
#LunchSection-1 textarea:focus-visible {
    outline: none;
    border: 1px solid #FFD1D1;
    transition: 0.2s;

}
.heightPost {
    height: 170px;
    overflow: hidden;
}
.indexheightPost{
    max-height: 60px;
    min-height: 10px;
    overflow: hidden;
}
.bottom-overflow-fade {
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%) !important;
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%) !important;
  }
  .maniTitle{
      height: 120px;
  }
  #singleBlogSection1{
      width: 100%;
      height: 400px;
  }
  #singleBlogSection1 {
      width: 90%;
      height: 400px;
      margin: 60px 0 30px 0;
      border-radius: 5px;
      background-image: url('./../images/NindoWeb.jpg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  #singleBlogSection2{
      width: 90%;
  }
  #singleBlogSection2 p{
    font-size: 50px;
    color: #5C5C5C;
    font-weight: bold;
    text-align: left;
    width: 100%;
  }
  #singleBlogSection3 {
      width: 90%;
  }
  #singleBlogSection3 span {
      font-size: 12px;
      font-weight: bold;
      color: #5C5C5C;
      margin: 10px 25px 40px 0;
  }
  #singleBlogSection3 img {
      width: 20px;
      height: 20px;
  }
  #singleBlogSection4{
      width: 90%;
  }
  #singleBlogSection4 span {
      font-size: 18px;
      font-weight: bold;
      text-align: left;
      line-height: 2;
  }
  #singleBlogSection4 p {
      font-size: 15px;
  }
  #singleBlogSection5{
      width: 100%;
      margin: 60px 0 0px 0;
  }
  #teamHeader{
      width: 100%;
      margin: 0 auto 80px auto;
      /* padding: 0 10px; */
  }
  #teamHeader h1{
    font-size: 60px !important;
    font-weight: bold;
    color: #5C5C5C;
}
#teamHeader h3 {
    font-size: 30px !important;
    font-weight: bold;
    color: #5C5C5C;
}
#teamHeader p {
    font-size: 20px !important;
    font-weight: bold;
    color: #939393;
}
  #teamSection1 {
      width: 100%;
      height: fit-content;
      margin: 60px 0;
  }
  #teamSection1 .item{
      width: 30%;
  }
  #teamSection1 .person1 {
      background-image: url('./../images/khashayartoubi.jpeg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 400px;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.25);
      transition: 0.2s;
  }
  #teamSection1 .person1:hover {
      transform: scale(1.02)
      translate(5px)
  }
  #teamSection1 .person2 {
    background-image: url('./../images/mohsenbagheri.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
}
#teamSection1 .person2:hover {
    transform: scale(1.02)
    translate(5px)
}
#teamSection1 .person3 {
    background-image: url('./../images/mohamadahmadi.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
}
#teamSection1 .person3:hover {
    transform: scale(1.02)
    translate(5px)
}
#teamSection1 .name {
    font-size: 18px;
    font-weight: bold;
    color: #5C5C5C;
}
#teamSection1 .title {
    font-size: 16px;
    font-weight: bold;
    color: #FF2D20;
}
@media (max-width: 991px) {
    
    .navBarLeftBox{
        
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 0px;
        /* padding-left: 60px; */
    }
    #section2 .item.active {
        transform: scale(1.1);
        transform: translate(0,20px)
    }
    #teamSection1 .item{
        width: 50%;
        margin: 30px auto 120px auto;
    }
    #section1 h3 {
        font-size: 20px ;
    }
    #section1 p {
        font-size: 16px;
    }
    #teamHeader h3 {
        font-size: 16px;
    }
    #section6 .item-bg .item1{
        width: 80%;
        margin: 0 auto;
        font-size: 15px;
        font-weight: bold;
    }

    #section6 .item-bg{
        height: 800px;
    }

    #section6 .item-bg .item2{
        position: relative;
        width: 80%;
        height: 500px;
        margin: 0 auto;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 1px solid #FF2D20;
    }
    #section6 .item-bg .item2 .ball-bg{
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 360px;
        margin-top: -12px;
        background: #FF2D20;
    }
    #section6 .item-bg .item2 {
        border-left: 1px solid #FF2D20;
        border-bottom: none;
    }
    #section6 .btn{
        width: 100%;
    }
    #section6 .item-bg .item2 div{
        width: 40%;
    }
    #LunchSection-1 {
        margin: 20px 0;
        width: 100%;
    }
    #LunchSection-1 .parentLunch{
        width: 100%;
        padding: 0 10px;
    }
    #LunchSection-1 fieldset {
        margin: 30px 0px 0 0;
        width: 100%;
    }
    #LunchSection-1 button{
        margin: 10px 0px 0 0;
    }
    #LunchSection-1 textarea {
        width: 100%;
        height: 200px;
        margin: 40px 0px 0px 0px;
    }
    #LunchSection-1 input {
        width: 100%;
    }
    #section2Blog{
        padding: 60px 10px;
    }
    #section2Blog .blog1{
        width: 49%;
        align-items: center;
        justify-content: center;
    }
    #section2Blog .blog1 .item2{
        width: 100%;
    }
    #section2Blog .blog1 .item1{
        width: 100%;

    }
    
    .navItem{
        font-size: 14px;
    }
    
    #section5 .card {
        width: 100%;
    }
    #section5 .card .card-1{
        width: 50%;
    }
    
    #section5 .card .card-2{
        width: 50%;
    }
    #section5 .card .card-3{
        width: 50%;
    }
    #section7 .BlogItem {
        flex-direction: column;
    }
    #section7 .BlogItem .posts {
        width: 50%;
        margin: 50px 0;
    }
    #section1 h1{
        font-size: 40px !important;
    }
    #section1 {
        width: 100%;
    }
    #teamheaderLunch h1 {
        font-size: 50px !important;
    }
}

@media (max-width: 768px) {
    #teamSection1 .item{
        width: 80%;
        margin: 40px auto 120px auto;
    }
    #section2Blog{
        padding: 60px 0px;
    }
    #section2Blog .blog1{
        width: 80%;
        align-items: center;
        justify-content: center;
    }
    .navItem{
        font-size: 12px;
    }
    .navBarLunchBtn{
        font-size: 15px;
        width: 120px;
    }
    
    /* #section1 h1{
        font-size: 25px !important;
    } */
    #section1 {
        padding: 0;
    }
    #section2 {
        height: auto;
    }
        
    #section2 .item {
        width: 80%;
        height: 200px;
        margin: 20px 0;
    }
    #section2 .active {
        display: flex;
        align-items: center;
        transform: scale(1.1);
        width: 100%;
    }
    #section5 .card .card-1{
        width: 80%;
    }
    
    #section5 .card .card-2{
        width: 80%;
    }
    #section5 .card .card-3{
        width: 80%;
    }
    #section7 {
        max-width: 100%;
    }
    #section7 .BlogItem .posts {
        width: 60%;
        margin: 50px 0;
    }
}
@media (max-width: 500px) {
    
    #section7 .BlogItem .posts {
        width: 90%;
        margin: 50px 0;
    }
    #teamheaderLunch h1 {
        font-size: 40px !important;
    }
}
@media (max-width: 410px) {
    #teamSection1 .item{
        width: 95%;
        margin: 40px auto 120px auto;
    }
   
    #section2Blog .blog1{
        width: 97%;
        align-items: center;
        justify-content: center;
    }
    .navBarLunchBtn{
        font-size: 10px;
    }
    #section7 {
        max-width: 100%;
    }
    #section7 .BlogItem .posts {
        width: 90%;
        margin: 50px 0;
    }
    #teamheaderLunch h1 {
        font-size: 30px !important;
    }
}
